p {
  font-family: Lato;
}


.table {
  width: 90%;
  display:flex;
  justify-content: space-around;
  border: 1px solid rgb(248, 248, 248);
  border-radius: 5px;
  padding: 40px;
  overflow: hidden;
  margin: auto;
  background-color: rgb(250, 246, 246);
}

.tableWrap{
  border: 1px solid rgb(228, 225, 225);
  border-radius: 5px;
  width: 40%;
  padding: 20px;
  background-color: white;
  
}
table, td, th {
  border: 1px solid rgb(216, 216, 216);
  padding: 10px;
  text-align: center;
}
table{
  width: 100%;
  border-collapse:collapse ;
}

th{
  background-color: #333;
  color: #fafafa;
  padding: 15px;
  font-size: 18px;
}

.removeBtn{
  background-color: rgb(228, 53, 53);
  color: #fafafa;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

h2{
  color:green;
  text-align:center;
}

.appChildWrap{
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  padding: 40px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
   border: 1px solid rgb(228, 225, 225);
  border-radius: 5px;
}

.mainService{
  padding: 20px;
}